<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Part</th>
            <th>Installed</th>
            <th>Mileage</th>
            <th>Description</th>
        </tr>   
    </thead>
    <tbody>
        <tr *ngFor="let part of parts">
            <td>{{part.partName}}</td>
            <td>{{part.installedOn | date:'MM/dd/yyyy'}}</td>
            <td>{{part.installedMileage}}</td>
            <td>{{part.partDescription}}</td>
        </tr>
    </tbody>
</table>