<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            Bike List
        </div>
        <div class="pull-right">
            <a class="btn btn-sm btn-default" [routerLink]="['/bike/add']">
                Add Bike
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bike of bikes | async"
                (click)="onSelect(bike)">
                <td>{{bike.make}}</td>
                <td>{{bike.model}} {{bike.trim}}</td>
                <td>{{bike.year}}</td>
            </tr>
        </tbody>
    </table>
</div>