<div class="panel panel-default">
    <div class="panel-heading">        
        <div class="panel-title pull-left">
            {{bike.year}} {{bike.make}} {{bike.model}} {{bike.trim}}
        </div>
        <div class="pull-right">
            <a class="btn btn-sm btn-default" [routerLink]="['/bike/edit', bike.id]">
                Edit
            </a>
            <a class="btn btn-sm btn-default" [routerLink]="['/bike/delete', bike.id]">
                Delete
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <bike-part-list [bikeParts]="bike.bikeParts"></bike-part-list>
</div>